/* Fonts */

@font-face {
  font-family: 'myfont';
  src: url('./font/My_Font.woff') format('woff'),
       url('./font/My_Font.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800&display=swap');

/* Top Page */

.portfolio {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.text-muted {
    text-align: center; }

.flex-column.align-items-center{
    margin-top: 20px;
}

.page-section {
  padding: 4.5rem 0;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Movie */

iframe {
    max-width: 100%;
  }

.s47-youtube-main{
  position: relative;
  width: 100%;
  height: 0px;
  /* padding: calc(1920 / 1080 * 100%) 0 0; */
  padding-top: 56.25%;
}

.s47-youtube-main iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}